
.body-header{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    align-self: center;
    margin-top: 100px;
    font-family: "Kelly Slab", sans-serif;
    background-color: #E9E9E8;
    width: 70%;
    border-radius: 1rem;
}
.h-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    padding: 1%;
    border-radius: 1rem;
}
.h-right{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    width: 75%;
    height: 100%;
    gap: 25px;
}
.heure-lieu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.data-temp, .autres{
    display: flex;
    flex-direction: row;
    /* padding-left: 15px; */
    gap: 25px;
}
.components{
    width: 200px;
    height: 100px;
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1%;
}
.components div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.components h1{
    text-align: center;
}

.h-left.blue,.components.blue:hover{
    /* 70D6FF
    BC6C25 
    0A0900
    E9E9E8*/
    background: linear-gradient(217deg, #70D6FF, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #E9E9E8, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #FFFEFE, rgba(0,0,255,0) 70.71%); 
}
.h-left.marron,.components.marron:hover{
    /* 70D6FF
    BC6C25 
    0A0900
    E9E9E8*/
    background: linear-gradient(217deg, #BC6C25, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #E9E9E8, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #FFFEFE, rgba(0,0,255,0) 70.71%); 
}

